<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>NUTEC - AMERICA</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="https://bootswatch.com/simplex/bootstrap.min.css" rel="stylesheet" >
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" >
		<link href="/styles/default.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body class="col-xs-12 col-md-12" >
		<div id="header" class="row">
			<div id="logo" class="col-xs-12 col-md-4">
					<a href="/"><img id="img-logo" src="/images/logo-nutec.jpg"></a>
			</div>
			<div id="menu-principal"  class="col-xs-12 col-md-8">
				<nav class="navbar navbar-default">
					<div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-left">
								{{# each navLinks}}
								<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
									<a href="{{ href }}">{{ label }}</a>
								</li>
							{{/each}}
						</ul>
						<ul class="nav navbar-nav navbar-right">
							{{#if user}}
							<li><a href="/keystone/signout">Sign Out</a></li>
							{{else}}
							<li><a href="/keystone/signin">Sign In</a></li>
							{{/if}}
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<div id="body" class="row">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<div id="footer" class="row">
			<div class="col-xs-12 col-md-12" >
				<footer class="container-fluid text-center bg-white row">
					<div class="col-md-2">
							<img id="logo-iso"  src="/images/iso.png">
					</div>
        	<div class="copyrights col col-md-8" style="margin-top:25px;">
            <p>Guayaquil: Vía a Daule Km 9.5 Lot. Ind. Inmaconsa Calle Casuarinas y Quisquellas
              <br>
            	<span>PBX: (04) 3714140  • Celular: (+593) 999753888 - (+593) 999779165</span></p>
							<span>Cod. Postal: EC090116</span>
            <p><a href="https://www.linkedin.com/in/nutec-representaciones-002b6550/" target="_blank">Linkedin <i class="fa fa-linkedin-square" aria-hidden="true"></i> </a></p>
        	</div>
					<div class="copyrights col col-md-2 " style="margin-top:25px;">
						<br />
              <a href="https://www.facebook.com/Nutec-Representaciones-125197944260844/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://twitter.com/nutec_repre"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
							<a href="mailto:representaciones.ec@nutecamerica.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
					</div>
				</footer>
			</div>
		</div>
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		<script src="/js/index.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
