<link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/styles/about.css">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row" style="background-color:white; margin-top:1cm; border-radius: 5px;" style="margin-left:10px;">
        <div class="row justify-content-md-center" style="margin-top:1cm; margin-bottom:1cm; border-radius: 5px;margin-left:50px;">
          <div class="col-md-1">
          </div>
          <div class="col-md-1">
            <i class="fa fa-address-card fa-5x" aria-hidden="true"></i>
            <p style="margin-left:5px;" align="center">30 años</p>
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-1">
            <i style="margin-left:8px;" class="fa fa-user fa-5x" aria-hidden="true"></i>
            <p align="center">Asistencia Tecnica</p>
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-1">
            <i class="fa fa-car fa-5x" aria-hidden="true"></i>
            <p align="center">Entrega Inmediata</p>
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-1">
            <i style="margin-left:2px;" class="fa fa-archive fa-5x" aria-hidden="true"></i>
            <p align="center">Stock Permanente</p>
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-1">
            <i class="fa fa-area-chart fa-5x" aria-hidden="true"></i>
            <p align="center">Calidad ISO</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-md-9">
      <div class="about">
        <div class="container col-sm-12 col-md-12" style="margin-top:1cm;background-color:white;margin-bottom:1cm;border-radius: 5px;">
          <div class="note" style="background-color:white;margin-bottom:1cm;">
            <h2 id="parrafo"><b>¿QUIÉNES SOMOS?</b></h2>
            <hr>
            <div class="col-md-9">
              <blockquote>
                <p align="justify">Una organización de más de 25 personas en Ecuador y Centro América con ganas de servir a nuestro clientes y Representados para lograr la mejor Materia Prima a Nivel Mundial en calidad, precio y asesoría técnica, con la filosofía de excelencia de Servicio al Cliente, con calidad ISO 9001:2008.</p>
                <small>LAS MEJORES MATERIAS PRIMAS <cite title="Source Title">PARA UN MUNDO MEJOR.</cite></small>
              </blockquote>
            </div>
            <div class="col-md-3" style="background-color:#e4e2e2;border-radius:5px;border-style: groove;height:160px;width:160px;">

            </div>
          </div>
        </div>
        <div class="container col-sm-12 col-md-12" style="background-color:white;margin-bottom:1cm;border-radius: 5px;">
            <div class="note" style="background-color:white;margin-bottom:1cm;">
              <h2 id="parrafo"><b>¿QUÉ HACEMOS?</b></h2>
              <hr>
              <div class="col-md-3" style="background-color:#e4e2e2;border-radius:5px;border-style: groove;height:160px;width:160px;">

              </div>
              <div class="col-md-9">
                <blockquote>
                  <li>Conocer las necesidades de clientes</li>
                  <li>Mercado  para buscar</li>
                  <li>Reciclaje amigable con el Medio Ambiente.</li>
                  <li>Encontrar la Mejor oferta a Nivel Mundial en calidad, precio, pago y asistencia Técnica de Materias Primas que cumplan en la sustentabilidad.</li>
                </blockquote>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3">
			<div style="margin-top: 40px;" class="list-group">
				<a href="/about" class="active list-group-item">Acerca de</a>
        <a href="/about/mission" class="list-group-item">Mision y Vision</a>
        <a href="/about/codeEthics" class="list-group-item">Codigo de Etica</a>
        <a href="/about/iso" class="list-group-item">ISO 9001</a>
        <a href="/about/businessRelations" class="list-group-item">Relaciones Empresariales</a>
        <a href="/about/testimonials" class="list-group-item">Testimonios</a>
			</div>
		</div>
  </div>
</div>
