<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div style="background-color:white;margin-top:1cm;margin-bottom:1cm;border-radius: 5px;">
				<h1 align="center">{{data.name}}</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-8">
			<div class="blog">
				{{# each data.posts.results}}
				<div class="container col-sm-12 col-md-12" style="background-color:white;margin-bottom:1cm;border-radius: 5px;">
					<div style="background-color:white;margin-bottom:1cm;" data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
						<h2><a href="{{postUrl slug}}">{{{title}}}</a></h2>
						<p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
								{{#if author.name.first}}by {{author.name.first}}{{/if}}
						</p>
						<p>{{{content.brief}}}</p>
						{{#if content.extended}}<p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>{{/if}}
					</div>
				</div>
				{{/each}}
			</div>
		</div>
		<div class="col-sm-4 col-md-3">
			<div style="margin-top: 0px;" class="list-group">
				<a href="/blog" class="active list-group-item">Todas las Categorias</a>
				{{# each data.categories }}
				<a href="{{categoryUrl slug}}" class="false list-group-item">{{name}}</a>
				{{/each}}
			</div>
		</div>
		<div class="col-md-offset-1 ">
		</div>
	</div>
	{{>pagination}}
</div>
