<link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/styles/mission.css">
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-9">
      <div class="about">
        <div class="container col-sm-12 col-md-12" style="margin-top:1cm;background-color:white;margin-bottom:1cm;border-radius: 5px;">
          <div class="note" style="background-color:white;margin-bottom:1cm;">
            <h2 id="parrafo"><b>RELACIONES EMPRESARIALES</b></h2>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-4" style="border-radius:5px;border-style: groove; height:150px;">
                  <a href="http://www.industrias.ec/inicio.ks"><img style="width:230px; margin-top:30px;" src="/images/relacionesEmpresariales/camaraIndustriasGuayaquil.gif" alt=""></a>
                  <p style="margin-top:10px;" align="center">Camara de Industrias de Guayaquil</p>
                </div>
                <div class="col-md-4" style="border-radius:5px;border-style: groove; height:150px;">
                  <a href="http://www.lacamara.org/"><img style="width:175px; margin-top:30px;margin-left:28px;"src="/images/relacionesEmpresariales/camaraComercioGuayaquil.png" alt=""></a>
                  <p style="margin-top:10px;" align="center">Camara de Comercio de Guayaquil</p>
                </div>
                <div class="col-md-4" style="border-radius:5px;border-style: groove; height:150px;">
                  <a href="http://www.porconecu.com/wordpress/index.php/aseplas/"><img style="width:45%; margin-top:20px;margin-left:60px;" src="/images/relacionesEmpresariales/aseplas.png" alt=""></a>
                  <p style="margin-top:5px;" align="center">Aseplas</p>
                </div>
              </div>
              <div class="col-md-12" style="margin-top:1cm;">
                <div class="col-md-4" style="border-radius:5px;border-style: groove; height:150px;">
                  <a href="http://www.fedimetal.com.ec/"><img style="width:230px; margin-top:38px;" src="/images/relacionesEmpresariales/fedimetal.jpg" alt=""></a>
                  <p style="margin-top:20px;"align="center">Federación Ecuatoriana de Metales</p>
                </div>
                <div class="col-md-4" style="border-radius:5px;border-style: groove; height:150px;">
                  <a href="http://www.aig.org.ec/"><img style="margin-left:80px;width:60px; margin-top:30px;" src="/images/relacionesEmpresariales/asociacionIndustrialesGraficos.jpg" alt=""></a>
                  <p style="margin-top:15px;"align="center">Asociación de Industriales Gráficos</p>
                </div>
                <div class="col-md-4" style="border-radius:5px;border-style: groove; height:150px;">
                  <a href="http://www.amchamec.org/"><img style="width:40%; margin-top:25px;margin-left:60px;" src="/images/relacionesEmpresariales/camaraEcuatorianaAmericana.gif" alt=""></a>
                  <p style="margin-top:0px;"align="center">Cámara Ecuatoriana - Americana</p>
                </div>
              </div>
              <div class="col-md-12" style="margin-top:1cm;">
                <div class="col-md-4" style="border-radius:5px;border-style: groove; height:150px;">
                  <a href="http://www.cme.org.ec/"><img style="margin-left:80px;width:70px; margin-top:30px;" src="/images/relacionesEmpresariales/camaraMineria.png" alt=""></a>
                  <p style="margin-top:3px;"align="center">Cámara de Minería del Ecuador</p>
                </div>
                <div class="col-md-4" style="border-radius:5px;border-style: groove; height:150px;">
                  <a href="http://www.camarachina.ec/"><img style="width:40%; margin-top:5px; margin-left:65px;" src="/images/relacionesEmpresariales/camaraEcuatorianoChina.jpg" alt=""></a>
                  <p style="margin-top:8px;"align="center">Cámara de Comercio Ecuatoriano- China</p>
                </div>
                <div class="col-md-4" style="border-radius:5px;border-style: groove; height:150px;">
                  <a href="http://www.aliplast.org/index.php"><img style="margin-left:40px;width:60%; margin-top:30px;" src="/images/relacionesEmpresariales/aliplast.gif" alt=""></a>
                  <p style="margin-top:3px;"align="center">Asociación Latinoamericana de la Industria del Plástico. (Aliplast)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3">
			<div style="margin-top: 40px;" class="list-group">
				<a href="/about" class="list-group-item">Acerca de</a>
        <a href="/about/mission" class="list-group-item">Mision y Vision</a>
        <a href="/about/codeEthics" class="list-group-item">Codigo de Etica</a>
        <a href="/about/iso" class="list-group-item">ISO 9001</a>
        <a href="/about/businessRelations" class="active list-group-item">Relaciones Empresariales</a>
        <a href="/about/testimonials" class=" list-group-item">Testimonios</a>
			</div>
		</div>
  </div>
</div>
