<link href="/styles/about.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div style="background-color:white;margin-top:1cm;margin-bottom:1cm;border-radius: 5px;">
				<h1 align="center">Productos</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row" style="background-color:white;margin-bottom:1cm;border-radius: 5px; text-align: center;">
		<div class="col-md-12">
			<div class="products">
				{{#each data.category}}
				<div class="col-sm-12 col-md-4 col-lg-4" style="background-color:white;">
					<div class="row">
						<h2 id="parrafo" align="center">{{name}}</h2>
						<div class="col-md-12" style="height:350px;">
							<a href="/products/{{slug}}/{{#each productGroup}}{{#firstPost @index}}{{slug}}{{/firstPost}}{{/each}}">
								<img align="center" style="width:90%;position: absolute;margin: auto;top: 0;left: 0;right: 0;bottom: 0;" src="{{cloudinaryUrl image}}" class="thumbnail">
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p></p>
						</div>
					</div>
					<p>
						{{{content.description}}}
					</p>
					<button style="margin-bottom:1cm;" onclick="window.location.href='/products/{{slug}}/{{#each productGroup}}{{#firstPost @index}}{{slug}}{{/firstPost}}{{/each}}'" name="button" class="btn btn-primary">Mas info</button>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
