<link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/styles/about.css">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div style="background-color:white;margin-top:1cm;margin-bottom:1cm;border-radius: 5px;">
				<h1 align="center">METALES - {{data.category.name}}</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-3">
			<div style="margin-top: 0px;" class="list-group">
        {{# each data.categories }}
        <a href="{{categoryProductMetalUrl slug}}" class="false list-group-item">{{name}}</a>
        {{/each}}
			</div>
		</div>
    <div class="col-sm-8 col-md-9">
      <div class="about">
        <div class="container col-sm-12 col-md-12" style="margin-top:0px;background-color:white;margin-bottom:1cm;border-radius: 5px;">


					<div id="carousel-imagenes" class="col-xs-12 col-sm-12 col-md-12">
						<div id="myCarousel" class="carousel slide" data-ride="carousel">
							<!-- Indicators -->
							<ol class="carousel-indicators">
								{{#each data.category.image}}
									{{#itemActiveCarousel @index}}
										<li data-target="#myCarousel" data-slide-to={{@index}} class="active"></li>
									{{else}}
										<li data-target="#myCarousel" data-slide-to={{@index}}></li>
									{{/itemActiveCarousel}}
								{{/each}}
							</ol>
							<!-- Wrapper for slides -->
							<div class="carousel-inner">
								{{#each data.category.image}}
										{{#itemActiveImage @index}}
											<div class="item active">
												<div>
													<img id="imagen-carousel" src="{{cloudinaryUrl this}}" class="img-rounded">
												</div>
											</div>
										{{else}}
											<div class="item">
												<div>
													<img id="imagen-carousel" src="{{cloudinaryUrl this}}" class="img-rounded">
												</div>
											</div>
										{{/itemActiveImage}}
								{{/each}}
							</div>
							<!-- Left and right controls -->
							<a class="left carousel-control" href="#myCarousel" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#myCarousel" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>



        </div>
      </div>
      <div class="container col-sm-12 col-md-12" style="background-color:white;margin-bottom:1cm;border-radius: 5px;">
        <div class="note" style="background-color:white;margin-bottom:1cm;">
          <div class="blog" style="margin-top:1cm;">

						{{#ifCond data.mostrarProducto.length}}
						{{#each data.mostrarProducto}}
						<div class="container col-sm-12 col-md-12" style="background-color:white;border-radius: 5px;">
							<div style="background-color:white;margin-bottom:1cm;" class="post">
								<div class="panel-group">
									<div class="panel panel-default">
										<div class="panel-heading" style="background-color:#e4e2e2;">
											<h4 class="panel-title">
												<a data-toggle="collapse" href="#{{slug}}">{{title}}</a>
											</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
						{{/each}}
						{{else}}
						{{#each data.mostrar}}
						<div class="container col-sm-12 col-md-12" style="background-color:white;border-radius: 5px;">
							<div style="background-color:white;margin-bottom:1cm;" class="post">
								<div class="panel-group">
									<div class="panel panel-default">
										<div class="panel-heading" style="background-color:#e4e2e2;">
											<h4 class="panel-title">
												<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
												<b><a data-toggle="collapse" href="#{{slug}}">{{name}}</a></b>
											</h4>
										</div>
										<div id="{{slug}}" class="panel-collapse collapse">
											{{#ifCond product.length}}
											{{#each product}}
											<div class="panel-group">
												<div class="panel panel-default">
													<div class="panel-heading">
														<div class="row">
															<div class="col-md-1">

															</div>
															<div class="col-md-11">
																<h5 class="panel-title">
																	<a data-toggle="collapse" href="#{{slug}}">{{title}}</a>
																</h5>
															</div>
														</div>
													</div>
												</div>
											</div>
											{{/each}}
											{{else}}
											{{#each productSubSubCategory}}
											<div class="panel-group">
												<div class="panel panel-default">
													<div class="panel-heading">
														<div class="row">
															<div class="col-md-1">
															</div>
															<div class="col-md-11">
																<h5 class="panel-title">
																	<b><a data-toggle="collapse" href="#{{slug}}">{{name}}</a></b>
																</h5>
															</div>
														</div>
													</div>
													<div id="{{slug}}" class="panel-collapse collapse">
														{{#each product}}
														<div class="panel-group">
															<div class="panel panel-default">
																<div class="panel-heading">
																	<div class="row">
																		<div class="col-md-2">

																		</div>
																		<div class="col-md-10">
																			<h5 class="panel-title">
																				<a data-toggle="collapse" href="#{{slug}}">{{title}}</a>
																			</h5>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														{{/each}}
													</div>
												</div>
											</div>
											{{/each}}
											{{/ifCond}}
										</div>
									</div>
								</div>
							</div>
						</div>
						{{/each}}

						{{/ifCond}}

    			</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
