<link rel="stylesheet" href="/styles/mission.css">
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-9">
      <div class="about">
        <div class="container col-sm-12 col-md-12" style="margin-top:1cm;background-color:white;margin-bottom:1cm;border-radius: 5px;">
          <div class="note" style="background-color:white;margin-bottom:1cm;">
            <h2 id="parrafo"><b>CODIGO DE ETICA</b></h2>
            <hr>
            <div class="col-md-12">
              <blockquote>
                <div class="row">
                  <div class="col-md-3">
                    <p><b>Normas de Conducta</b></p>
                  </div>
                  <div class="col-md-9">
                    <p align="justify">Realizamos nuestras operaciones en forma honesta, íntegra y abierta y respetamos los derechos humanos y los intereses de nuestros empleados. De la misma manera, respetaremos los intereses legítimos de aquellos con quienes nos relacionamos.</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-3">
                    <p><b>Cumplimiento de la Ley</b></p>
                  </div>
                  <div class="col-md-9">
                    <p align="justify">Las empresas y los empleados de Nutec deben cumplir con las leyes y reglamentaciones de los países donde tenemos operaciones.</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-3">
                    <p><b>Empleados</b></p>
                  </div>
                  <div class="col-md-9">
                    <p align="justify">Nutec está comprometida con la diversidad en un ambiente laboral donde existen la confianza y el respecto mutuos, y donde todos se sienten responsables por el desempeño y la reputación de nuestra empresa.</p>
                    <p align="justify">Buscaremos, contrataremos y promocionaremos a los empleados basándonos exclusivamente en las calificaciones y capacidades necesarias para el trabajo que se va a realizar. Nos comprometemos a ofrecer condiciones laborales seguras y saludables para todos los empleados y no emplearemos ningún tipo de trabajo forzado, obligatorio ni infantil.</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-3">
                    <p><b>Consumidores</b></p>
                  </div>
                  <div class="col-md-9">
                    <p align="justify">Nutec tiene el compromiso de brindar productos y servicios de marca que ofrecen valor en términos de precio y calidad en forma consistente, y que son seguros para utilizarlos para lo que fueron creados.  Los productos y servicios se rotularán, publicitarán y comunicarán en forma exacta y adecuada.</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-3">
                    <p><b>Relaciones Comerciales</b></p>
                  </div>
                  <div class="col-md-9">
                    <p align="justify">Nutec tiene el compromiso de establecer relaciones mutuamente beneficiosas con sus proveedores, clientes y socios comerciales. En nuestros tratos comerciales, esperamos que nuestros socios adopten principios empresariales consistentes con los nuestros.</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-3">
                    <p><b>Competencia</b></p>
                  </div>
                  <div class="col-md-9">
                    <p align="justify">Nutec cree en la competencia sólida pero justa y apoya el desarrollo de leyes apropiadas sobre esta materia. Las empresas y los empleados de Nutec realizarán sus operaciones en conformidad con los principios de competencia justa y con todas las reglamentaciones aplicables.</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-3">
                    <p><b>Integridad comercial</b></p>
                  </div>
                  <div class="col-md-9">
                    <p align="justify">Nutec no entrega ni recibe, ni directa ni indirectamente sobornos u otras ventajas indebidas para obtener ganancias comerciales o financieras.  Ningún empleado puede ofrecer, entregar o recibir ningún obsequio o pago que constituya un soborno o que pueda interpretarse como tal.  Se debe rechazar inmediatamente toda solicitud u ofrecimiento de un soborno y se debe informar de inmediato a la Gerencia. Los registros de Contabilidad y la documentación de respaldo de Nutec  deben describir y  reflejar de forma exacta la naturaleza de las transacciones subyacentes.  No se establecerá ni se mantendrá ninguna cuenta, fondo o activo no revelado o no registrado</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-3">
                    <p><b>Conflicto de Intereses</b></p>
                  </div>
                  <div class="col-md-9">
                    <p align="justify">Se espera que todos los empleados de Nutec eviten realizar actividades personales y tener intereses financieros que pudieran entrar en conflicto con sus responsabilidades para con la compañía. Los  empleados de Nutec no deben buscar obtener un beneficio para ellos mismos o para otras personas mediante el uso indebido de sus cargos.</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-3">
                    <p><b>Responsabilidad Social</b></p>
                  </div>
                  <div class="col-md-9">
                    <p align="justify">Nutec es una empresa que se preocupa por el apoyo comunitario.  La Gerencia de Nutec es responsable de asegurarse que estos principios sean comunicados a todos los empleados y de que estos los entiendan y los cumplan.  Se espera que los empleados informen al directorio de Nutec o a la Gerencia correspondiente, cualquier infracción real o supuesta a estos principios.</p>
                    <p align="justify">Se han tomado las medidas para que los empleados puedan realizar sus denuncias con confianza y ningún empleado sufrirá un perjuicio debido a ello.</p>
                  </div>
                </div>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3">
			<div style="margin-top: 40px;" class="list-group">
				<a href="/about" class="list-group-item">Acerca de</a>
        <a href="/about/mission" class="list-group-item">Mision y Vision</a>
        <a href="/about/codeEthics" class="active list-group-item">Codigo de Etica</a>
        <a href="/about/iso" class="list-group-item">ISO 9001</a>
        <a href="/about/businessRelations" class="list-group-item">Relaciones Empresariales</a>
        <a href="/about/testimonials" class="list-group-item">Testimonios</a>
			</div>
		</div>
  </div>
</div>
