<link rel="stylesheet" href="/styles/about.css">
<div class="container">
	<div class="row">
    <div class="col-md-12">
      <div class="about">
        <div class="container col-sm-12 col-md-12" style="margin-bottom:1cm;margin-top:1cm;background-color:white;border-radius: 5px;">
          <div class="note" style="background-color:white;margin-bottom:1cm;">
            <h2 id="parrafo"><b>UBICACION</b></h2>
            <hr>
            <div class="col-md-7" style="margin-top:0.5cm;">
							<div class="row">
								<div class="col-md-1"></div>
								<div class="col-md-10" style="border-radius:5px;border-style: groove;">
									<h4>ECUADOR</h4>
									<span>Vía a Daule Km 9.5 Lot. Ind. Inmaconsa Calle Casuarinas y Quisquellas</span><br>
									<span>Guayaquil</span><br>
									<span>Tel: 593 - 4 -3714140</span><br>
									<span>Email: representaciones.ec@nutecamerica.com</span><br>
									<span>Mariana de Jesús 512 y Pasaje Martín Carrión</span><br>
									<span>Quito</span><br>
									<span>Tel: 593 - 2 - 2566356</span><br>
									<span>Email: ventalocal.ec@nutecamerica.com</span><br>
								</div>
								<div class="col-md-1"></div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12" style="margin-top:1cm;background-color:white;margin-bottom:1cm;border-radius: 5px;">
									<div class="note" style="background-color:white;margin-bottom:1cm;">
										<h2 id="parrafo"><b>CONTACTENOS</b></h2>
				            <hr>
										<div class="container">
											<div class="row">
												<div class="col-sm-8 col-md-6">
													{{#if enquirySubmitted}}
													<h3>Gracias por comunicarse con nosotros.</h3>
													{{else}}
													<form method="post">
														<input type="hidden" name="action" value="contact">
														<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
															<label>Nombre</label>
															<input type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
														</div>
														<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
															<label>Email</label>
															<input type="email" name="email" class="form-control" value="{{formData.email}}">
														</div>
														<div class="form-group">
															<label>Telefono</label>
															<input type="text" name="phone" placeholder="(optional)" class="form-control" value="{{formData.phone}}">
														</div>
														<div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
															<label>Por que se quiere comunicar?</label>
															<select name="enquiryType" class="form-control">
																<option value="">(select one)</option>
																{{#each enquiryTypes}}
																<option value="{{value}}">{{label}}</option>
																{{/each}}
															</select>
														</div>
														<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
															<label>Mensaje</label>
															<textarea name="message" placeholder="Leave us a message..." rows="4" class="form-control">{{formData.message}}</textarea>
														</div>
														<div class="form-actions">
															<button type="submit" class="btn btn-primary">Enviar</button>
														</div>
													</form>
													{{/if}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							</div>
            </div>
            <div class="col-md-5" style="border-radius:5px;border-style: groove;height:700px;width:450px;">
							<img src="/images/contactos/mapa.gif" style=width:400px;"">
							<h2 align="center">ESTAMOS JUNTO A USTED</h2>
							<h3 align="center">EN ECUADOR, CENTRO AMÉRICA Y</h3>
							<h3 align="center">AMÉRICA LATINA.</h3>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
