<link href="/styles/index.css" rel="stylesheet">
<div class="container">
  <div class="row">
		<div class="col-md-12">
			<div style="background-color:white;margin-top:1cm;margin-bottom:1cm;border-radius: 5px;">
				<h1 align="center">{{data.categoryData.name}}</h1>
			</div>
		</div>
	</div>
  <div class="row">
    <div class="col-sm-8 col-md-9">
      <div class="about">
        <div class="container col-sm-12 col-md-12" style="margin-top:1cm;background-color:white;margin-bottom:1cm;border-radius: 5px;">
          <div class="note" style="background-color:white;margin-bottom:1cm;">
            <div id="cabecera" class="col-xs-12 col-sm-12 col-md-12">
            	<div id="carousel-imagenes" class="col-xs-12 col-sm-12 col-md-7">
            		<div id="myCarousel" class="carousel slide" data-ride="carousel">
            			<!-- Wrapper for slides -->
            			<div class="carousel-inner">
            				{{#each data.imagenesGrupos}}
                      {{#with this.image}}
                        <img id="imagen-carousel" src="{{cloudinaryUrl this.[0] crop='fit'}}" class="img-rounded">
                      {{/with}}
            				{{/each}}
            			</div>
            			<!-- Left and right controls -->

            			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
            				<span class="glyphicon glyphicon-chevron-left"></span>
            				<span class="sr-only">Previous</span>
            			</a>
            			<a class="right carousel-control" href="#myCarousel" data-slide="next">
            				<span class="glyphicon glyphicon-chevron-right"></span>
            				<span class="sr-only">Next</span>
            			</a>
            		</div>
            	</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3">
			<div style="margin-top: 40px;" class="list-group">
        {{# each data.groups }}
				<a href="{{groupUrl slug}}" class="false list-group-item">{{name}}</a>
				{{/each}}
			</div>
		</div>
  </div>
</div>
<button type="button" name="button">sdasdadssa</button>
<button onclick="btn_click(\'' +{{{data.post}}}+ '\');">Set text content for all p elements</button>

<script src="/js/jquery/jquery-1.11.3.min.js"></script>
<script src="/js/group.js"></script>
