{{!< default}}
<link href="/styles/index.css" rel="stylesheet">
<div id="cabecera" class="col-xs-12 col-sm-12 col-md-12">
	<div id="carousel-imagenes" class="col-xs-12 col-sm-12 col-md-7">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				{{#each galleries}}
					{{#imageState state}}
						{{#itemActiveCarousel @index}}
							<li data-target="#myCarousel" data-slide-to={{@index}} class="active"></li>
						{{else}}
							<li data-target="#myCarousel" data-slide-to={{@index}}></li>
						{{/itemActiveCarousel}}
					{{/imageState}}
				{{/each}}
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				{{#each galleries}}
					{{#imageState state}}
						{{#itemActiveImage @index}}
							<div class="item active">
								<div>
									<img id="imagen-carousel" src="{{cloudinaryUrl image crop='fit'}}" class="img-rounded">
									<h2 id="texto-imagen"><span>{{title}}</span></h2>
								</div>
							</div>
						{{else}}
							<div class="item">
								<div>
									<img id="imagen-carousel" src="{{cloudinaryUrl image crop='fit'}}" class="img-rounded">
									<h2 id="texto-imagen"><span>{{title}}</span></h2>
								</div>
							</div>
						{{/itemActiveImage}}
					{{/imageState}}
				{{/each}}
			</div>
			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<div id="caja-logo" class="col-sm-12 col-md-3">
		<p>
			<img class="img-responsive" id="logo-about"  src="/images/logo-30.png">
		</p>
	</div>
</div>
<div class="col-sm-12 col-md-12" style="margin-top: 1cm;">
	<div class="col-md-5" style="margin-left:30px;">
		<div class="row" style="margin-bottom:0.5cm;margin-left:60px;">
			<div class="col-sm-12 col-md-12" id="cuadrosLinks">
				<h4 style="color:#d9230f;"><b>ACERCA DE</b></h4>
				<a href="/about">
					<p>
						<img class="img-responsive" id="imagen-cuadros-link" src="/images/about.jpg">
					</p>
				</a>
			</div>
		</div>
		<div class="row" style="background-color:white;margin-top:0.5cm;margin-bottom:0.5cm;margin-left:60px;">
			<div class="col-xs-12 col-sm-12 col-md-12" id="cuadrosLinks" style="width:550px;">
				<h4 style="color:#d9230f;"><b>PRODUCTOS</b></h4>
				<a href="/products">
					<p>
						<img class="img-responsive" id="imagen-cuadros-link" src="/images/productos.jpg">
					</p>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12 cuadros" style="height:150px;width:95%;">
				{{#each data.posts}}
				{{#firstPost @index}}
				<div class="row">
					<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post col-md-12">
						<h2><a href="{{postUrl slug}}">Noticia - {{{title}}}</a></h2>
						<p>{{{content.brief}}}</p>
					</div>
				</div>
				{{/firstPost}}
				{{/each}}
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-1" style="margin-bottom:2cm;">
		<div class="row" style="background-color:white;margin-bottom:0.5cm;">
			<div class="col-sm-12 col-md-12" id="cuadrosLinks">
				<h4 style="color:#d9230f;"><b>NUESTROS VALORES</b></h4>
				<a href="/about/codeEthics">
					<p>
						<img class="img-responsive" id="imagen-cuadros-link" src="/images/descarga.jpg">
					</p>
				</a>
			</div>
		</div>
		<div class="row" style="background-color:white;margin-bottom:0.5cm;">
			<div class="col-xs-12 col-sm-12 col-md-12" id="cuadrosLinks">
				<h4 style="color:#d9230f;"><b>SERVICIOS</b></h4>
				<a href="/service">
					<p>
						<img class="img-responsive" id="imagen-cuadros-link" src="/images/servicios.gif">
					</p>
				</a>
			</div>
		</div>
		<div class="row" style="background-color:white;margin-top:0.5cm;">
			<div class="col-xs-12 col-sm-12 col-md-12" id="cuadrosLinks" style="width:550px;">
				<h4 style="color:#d9230f;"><b>CONTACTENOS</b></h4>
				<a href="/contact">
					<p>
						<img class="img-responsive" id="imagen-cuadros-link" src="/images/contacto.jpg">
					</p>
				</a>
			</div>
		</div>
	</div>
</div>
