<link href="/styles/iso.css" rel="stylesheet">
<link rel="stylesheet" href="/styles/mission.css">
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-9">
      <div class="about">
        <div class="container col-sm-12 col-md-12" style="margin-top:1cm;background-color:white;margin-bottom:1cm;border-radius: 5px;">
          <div class="note" style="background-color:white;margin-bottom:1cm;">
            <h2 id="parrafo"><b>CERTIFICADO DE SISTEMA DE GESTIÓN DE CALIDAD</b></h2>
            <hr>
            <div class="col-md-12">
              <blockquote>
                <p align="justify">Para ofrecer un servicio de Calidad Internacional, Nutec tiene un sistema de trabajo con procedimientos que permiten cumplir con indicadores y objetivos de calidad para que nuestros Representados y Clientes esten 100% satisfechos con nuestro servicio.</p>
                <p align="justify">Contamos con la certificación ISO 9001:2008 aprobado por  System &Service Certification (SGS), vigente hasta Noviembre del 2016:</p>
                <small align="right">ISO 9001</cite></small>
              </blockquote>
            </div>
          </div>
        </div>



        <div class='list-group gallery' style="margin-left:5px;">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
              <img src="/images/iso/CertificadoISO.jpg" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <img src="/images/iso/CertificadoISO.jpg" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
            </div>
            <div class="col-md-1"></div>
          </div>
        </div> <!-- list-group / end -->


      </div>
    </div>
    <div class="col-sm-4 col-md-3">
			<div style="margin-top: 40px;" class="list-group">
				<a href="/about" class="list-group-item">Acerca de</a>
        <a href="/about/mission" class="list-group-item">Mision y Vision</a>
        <a href="/about/codeEthics" class="list-group-item">Codigo de Etica</a>
        <a  id="activeItem" href="/about/iso" class="active list-group-item">ISO 9001</a>
        <a href="/about/businessRelations" class="list-group-item">Relaciones Empresariales</a>
        <a href="/about/testimonials" class="list-group-item">Testimonios</a>
			</div>
		</div>
  </div>
</div>

<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">
    <div class="mySlides">
      <div class="numbertext">1 / 2</div>
      <img class="img-responsive" src="/images/iso/CertificadoISO.jpg" style="width:100%">
    </div>
    <div class="mySlides">
      <div class="numbertext">2 / 2</div>
      <img class="img-responsive" src="/images/iso/CertificadoISO.jpg" style="width:100%">
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <div class="caption-container">
      <p id="caption"></p>
    </div>
    <div class="column" style="margin-left:20%;">
      <img class="demo cursor img-responsive" src="/images/iso/CertificadoISO.jpg" style="width:100%" onclick="currentSlide(1)" alt="ISO 01">
    </div>
    <div class="column" style="margin-left:10%;">
      <img class="demo cursor img-responsive" src="/images/iso/CertificadoISO.jpg" style="width:100%" onclick="currentSlide(2)" alt="ISO 02">
    </div>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/iso.js"></script>
