<link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/styles/about.css">
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-9">
      <div class="about">
        <div class="container col-sm-12 col-md-12" style="margin-top:1cm;background-color:white;margin-bottom:1cm;border-radius: 5px;">
          <div class="note" style="background-color:white;margin-bottom:1cm;">
            <div class="container col-sm-12 col-md-12">
              <h2 id="parrafo"><b>DISTRIBUCIÓN LOCAL</b></h2>
              <hr>
              <div class="col-md-12">
                <div class="col-md-12">
                  <p>Nosotros también importamos, distribuimos y vendemos las materias primas para clientes pequeños/medianos y a veces a los grandes quienes prefieren a NUTEC como un proveedor de stock local de sus requerimientos con entrega inmediata, permanente y a tiempo.
                    Somos líderes en la distribución de resinas plásticas y papel periódico, supliendo las necesidades de nuestros clientes con una amplia gama de productos, siempre en stock y con el mejor precio y pago.</p>
                  <br>
                  <hr>
                </div>
              </div>
              <div class="container col-sm-12 col-md-12" style="margin-top:1cm;background-color:#e4e2e2;margin-bottom:1cm;border-radius: 5px;">
                <div class="note" style="background-color:white;margin-bottom:1cm;">
                  <div class="col-md-5">
                    <br>
                    <h4 style="color:#d9230f;">SIEMPRE JUNTO A SU NEGOCIO</h4>
                    <br>
                    <h5>AMPLIA GAMA DE PRODUCTOS, SIEMPRE<br>EN STOCK Y CON EL MEJOR PRECIO.</h5>
                    <hr>
                    <h5>PLÁSTICOS • METALES • PAPELES • QUÍMICOS</h5>
                    <br>
                  </div>
                  <div class="col-md-7" style="height:160px;width:160px;">
                    <img style="margin-right:100px;" src="/images/servicios/ventaLocal/distribucion.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3">
			<div style="margin-top: 40px;" class="list-group">
				<a href="/service/materiaPrima" class="list-group-item">Materias Primas</a>
        <a href="/service/representations" class="list-group-item">Representaciones</a>
        <a href="/service/distribution" class="active list-group-item">Distribucion y/o Venta Local</a>
			</div>
		</div>
  </div>
</div>
