<link rel="stylesheet" href="/styles/mission.css">
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-9">
      <div class="about">
        <div class="container col-sm-12 col-md-12" style="margin-top:1cm;background-color:white;margin-bottom:1cm;border-radius: 5px;">
          <div class="note" style="background-color:white;margin-bottom:1cm;">
            <h2 id="parrafo"><b>VISIÓN</b></h2>
            <hr>
            <div class="col-md-12">
              <blockquote>
                <p align="justify">Ser una empresa líder en el suministro de materias primas de alta calidad y menor costo de la industria, manteniendo clientes y representados satisfechos con servicio de calidad mundial (ISO 9001:2008).</p>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="container col-sm-12 col-md-12" style="background-color:white;margin-bottom:1cm;border-radius: 5px;">
            <div class="note" style="background-color:white;margin-bottom:1cm;">
              <h2 id="parrafo"><b>MISIÓN</b></h2>
              <hr>
              <div class="col-md-12">
                <blockquote>
                  <p align="justify">Lograr la plena satisfacción de nuestros clientes con la mejor oferta mundial para importación y distribución local de materias primas de alta calidad y menor costo para el desarrollo de la industria nacional.</p>
                </blockquote>
              </div>
            </div>
        </div>
        <div class="container col-sm-12 col-md-12" style="background-color:white;margin-bottom:1cm;border-radius: 5px;">
            <div class="note" style="background-color:white;margin-bottom:1cm;">
              <h2 id="parrafo"><b>POLÍTICA DE CALIDAD</b></h2>
              <hr>
              <div class="col-md-12">
                <blockquote>
                  <p align="justify">Lograr la satisfacción total de clientes y representados con negocios a largo plazo, con personal competente y mística del servicio al cliente  aplicando la mejora continua con tecnología de punta.</p>
                </blockquote>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3">
			<div style="margin-top: 40px;" class="list-group">
				<a href="/about" class="list-group-item">Acerca de</a>
        <a href="/about/mission" class="active list-group-item">Mision y Vision</a>
        <a href="/about/codeEthics" class="list-group-item">Codigo de Etica</a>
        <a href="/about/iso" class="list-group-item">ISO 9001</a>
        <a href="/about/businessRelations" class="list-group-item">Relaciones Empresariales</a>
        <a href="/about/testimonials" class="list-group-item">Testimonios</a>
			</div>
		</div>
  </div>
</div>
