<link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/styles/about.css">
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-12">
      <div class="about">
        <div class="container col-sm-12 col-md-12" style="margin-top:1cm;background-color:white;margin-bottom:1cm;border-radius: 5px;">
          <div class="note" style="background-color:white;margin-bottom:1cm;">
						<p style="margin-top:1cm;"><a href="/blog">&larr; regresar a noticias</a></p>
            <h1 id="parrafo" align="center"><b>{{data.post.title}}</b></h1>
						<h5 align="center">
							{{{categoryList data.post.categories prefix="Publicado en "}}}
							{{#if author.name.first}}by {{author.name.first}}{{/if}}
						</h5>
            <hr>
            <div class="col-md-12">
							<article id="printableArea">
								<div class="post">
									{{#if data.post.image}}<img id="imagenl" src="{{{cloudinaryUrl data.post.image width=750 height=450 crop='fit' }}}" class="img-responsive">{{/if}}
									<div class="row">
										<div class="col-md-1"></div>
										<div algin="center" class="col-md-10" style="margin-top:1cm;">
											{{{data.post.content.extended}}}
										</div>
										<div class="col-md-1"></div>
									</div>
								</div>
								<iframe id="imagenl" src={{{data.ruta}}}   style="width:1280px; height:800px;" frameborder="0"></iframe>
							</article>
            </div>
						<hr>
						<div class="row"style="margin-bottom:1cm;">
          </div>
        </div>
      </div>
    </div>
  </div>

	</div>
</div>

<script src="/js/post.js"></script>

</script>
