<link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/styles/about.css">
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-9">
      <div class="about">
        <div class="container col-sm-12 col-md-12" style="margin-top:1cm;background-color:white;margin-bottom:1cm;border-radius: 5px;">
          <div class="note" style="background-color:white;margin-bottom:1cm;">
            <div class="container col-sm-12 col-md-12">
              <h2 id="parrafo"><b>REPRESENTACIONES</b></h2>
              <hr>
              <div class="col-md-5">
                <div class="col-md-12">
                  <h3 style="color:#d9230f;">A LOS CLIENTES.</h3>
                  <p>Buscamos alrededor del mundo la mejor y más competitiva Materia Prima alternativa para proveer en nuestros mercados/ clientes:
                    Mejor calidad a precio competitivo para los productos o materias primas que nuestros clientes requieren.</p>
                  <li>METALES</li>
                  <li>PAPELES</li>
                  <li>QUIMICOS</li>
                  <li>RESINAS PLASTICAS</li>
                  <br>
                  <hr>
                  <h3 style="color:#d9230f;">A LOS PROVEEDORES.</h3>
                  <p>Representamos más de 15 compañías reconocidas mundialmente como:</p>
                  <li>Braskem (Brasil)</li>
                  <li>NorskeSkog (Noruega)</li>
                  <li>Goodyear (USA)</li>
                  <li>Marubeni (Japón)</li>
                  <li>Westlake (USA)</li>
                  <li>Salzgitter Mannessmann (Alemania)</li>
                  <li>Tricon Energy (USA)</li>
                  <li>Papeles Bio /Bio (Chile)</li>
                </div>
              </div>
              <div class="col-md-7">
                <img style="margin-right:100px;" src="/images/servicios/representaciones/animacion.gif" alt="">
              </div>
            </div>
            <div class="container col-sm-12 col-md-12">
              <div class="col-md-12">
                <div class="col-md-12">
                  <br>
                  <p>Los cuales proveen de materias primas, como: RESINAS PLÁSTICAS, METALES, PAPELES Y QUÍMICOS, confiando sus productos a la excelente calidad de nuestro profesionalismo en la promoción, mercadeo y venta.
                    También desarrollamos sociedades con traders para hacer negocios con clientes altamente confiable para trabajar  a largo plazo basado en términos de pago y crédito</p>
                  <br>
                  <p style="color:#d9230f;">Necesitamos proveedores con el interés para vender en los países de centro América.<br>RESINAS PLÁSTICAS, METALES,  PAPELES Y QUÍMICOS</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3">
			<div style="margin-top: 40px;" class="list-group">
				<a href="/service/materiaPrima" class="list-group-item">Materias Primas</a>
        <a href="/service/representations" class="active list-group-item">Representaciones</a>
        <a href="/service/distribution" class="list-group-item">Distribucion y/o Venta Local</a>
			</div>
		</div>
  </div>
</div>
