<link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/styles/about.css">
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-9">
      <div class="about">
        <div class="container col-sm-12 col-md-12" style="margin-top:1cm;background-color:white;margin-bottom:1cm;border-radius: 5px;">
          <div class="note" style="background-color:white;margin-bottom:1cm;">
            <h2 id="parrafo"><b>REPRESENTACION Y DISTRIBUCION DE MATERIAS PRIMAS</b></h2>
            <hr>
            <div class="col-md-5">
              <br>
              <h4 style="color:#d9230f;">SIEMPRE JUNTO A SU NEGOCIO</h4>
              <br>
              <h5>IMPORTACIÓN Y DISTRIBUCIÓN LOCAL DE <br>SUMINISTROS DE MATERIAS PRIMAS</h5>
              <hr>
              <h5>PLÁSTICOS • METALES • PAPELES • QUÍMICOS</h5>
              <br>
            </div>
            <div class="col-md-7" style="height:160px;width:160px;">
              <img style="margin-right:100px;" src="/images/servicios/materiaPrima/materiaPrima.png" alt="">
            </div>
          </div>
        </div>
        <div class="container col-sm-12 col-md-12" style="background-color:white;margin-bottom:1cm;border-radius: 5px;">
            <div class="note" style="background-color:white;margin-bottom:1cm;">
              <h2 id="parrafo"><b>PEDIDOS DE IMPORTACIÓN</b></h2>
              <hr>
              <div class="col-md-3"  style="height:160px;width:160px;">
                <img style="margin-right:100px;" src="/images/servicios/materiaPrima/mundoHojitas.png" alt="">
              </div>
              <div class="col-md-9" style="margin-left:0.5cm;">
                <h5>Los clientes pueden importar directamente de nuestros Representados con precio CFR competitivos y pagos con plazo y crédito.<br>
                    En el 2011  logramos ventas-negocios por aprox 80000 tn/año  en Ecuador y 30000 tamaño en Centro-América especialmente en resinas plásticas, metal, papel y químicos.<br>
                    Nutec logra la mejor oferta mundial con calidad, precio y pago de tal manera que sea competitiva para que el cliente cumpla con la calidad  y precio del producto final y el medio ambiente.</h5>
              </div>
            </div>
        </div>
        <div class="container col-sm-12 col-md-12" style="background-color:white;margin-bottom:1cm;border-radius: 5px;">
            <div class="note" style="background-color:white;margin-bottom:1cm;">
              <h2 id="parrafo"><b>DISTRIBUCIÓN LOCAL</b></h2>
              <hr>
              <div class="col-md-3" style="height:160px;width:160px;">
                <img style="margin-right:100px;" src="/images/servicios/materiaPrima/mapaEcuador.png" alt="">
              </div>
              <div class="col-md-9" style="margin-top:0.7cm;margin-left:0.5cm;">
                <h5>Nutec se preocupa por atender los clientes pequeños que no pueden importar y le ofrece un suministro seguro-permanente con calidad, precio y pago adecuado. Atendemos a todas las regiones del país con entregas a tiempo.<br>
                    En el 2011 logramos ventas por aprox 8.000 tn/año en Ecuador y 3000 tn/año en Centro-América.<br>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3">
			<div style="margin-top: 40px;" class="list-group">
				<a href="/service/materiaPrima" class="active list-group-item">Materias Primas</a>
        <a href="/service/representations" class="list-group-item">Representaciones</a>
        <a href="/service/distribution" class="list-group-item">Distribucion y/o Venta Local</a>
			</div>
		</div>
  </div>
</div>
