<link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/styles/mission.css">
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-9">
      <div class="about">
        <div class="container col-sm-12 col-md-12" style="margin-top:1cm;background-color:white;margin-bottom:1cm;border-radius: 5px;">
          <div class="note" style="background-color:white;margin-bottom:1cm;">
            <h2 id="parrafo"><b>TESTIMONIOS DE REPRESENTADOS</b></h2>
            <hr>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3">
                    <img style="width:75%;"src="/images/testimonios/representados/braskem.png" alt="">
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-12">
                      <p><b>BRASKEM</b></p>
                      <p align="justify">Estamos trabajando más de diez años con buenas relaciones en el mercado ecuatoriano y excelentes servicios hacia nosotros en las ventas y pagos a tiempo.</p>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-3">
                    <img style="width:60%;margin-left:10px;" src="/images/testimonios/representados/goodyearChemical.png" alt="">
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-12">
                      <p><b>GOODYEAR CHEMICAL</b></p>
                      <p align="justify">NUTEC ha sido por mucho tiempo, no sólo uno de nuestros mejores clientes, sino una gran parte importante de la familia Goodyear Chemical como extensión de nuestra fuerza de ventas.</p>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-3">
                    <img src="/images/testimonios/representados/norskeskog.gif" alt="">
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-12">
                      <p><b>NORSKE SKOG</b></p>
                      <p align="justify">Nutec esta haciendo un buen trabajo, está vendiendo a los grandes diarios y está dando buen servicio a los clientes acorde a las normas ISO.</p>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-3">
                    <img src="/images/testimonios/representados/salzgitter2.jpg" alt="" style="width:120px;">
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-12">
                      <p><b>SALZGITTER</b></p>
                      <p align="justify">Todo muy bien y muy contentos con el trabajo y la cooperación de NUTEC ... que está haciendo un gran trabajo.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">

            </div>
          </div>
        </div>
        <div class="container col-sm-12 col-md-12" style="background-color:white;margin-bottom:1cm;border-radius: 5px;">
            <div class="note" style="background-color:white;margin-bottom:1cm;">
              <h2 id="parrafo"><b>TESTIMONIOS DE CLIENTES</b></h2>
              <hr>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-3">
                      <img src="/images/testimonios/clientes/kubiec.jpg" alt="" style="width:120px;">
                  </div>
                  <div class="col-md-9">
                    <div class="row">
                      <div class="col-md-12">
                        <p><b>KUBIEC</b></p>
                        <p align="justify">No cabe la menor duda de que hemos recibido muy buen servicio de Nutec y de sus representados.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-3">
                      <img src="/images/testimonios/clientes/fexiplast.png" alt="" style="width:80%;">
                  </div>
                  <div class="col-md-9">
                    <div class="row">
                      <div class="col-md-12">
                        <p><b>FLEXIPLAST</b></p>
                        <p align="justify">La empresa Nutec ha sido para nosotros un socio comercial, en todos estos años de trabajo hemos encontrado en ellos asesoramiento, respaldo y garantía en cada una de las actividades que emprenden.<br>Hemos comprobado que sus políticas no están dirigidas únicamente a la actividad de vender, mas bien vemos que mantienen sus actividades como un negocio a largo plazo logrando así una fidelidad en sus clientes.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-3">
                      <img src="/images/testimonios/clientes/pika.gif" alt="" style="width:120px;">
                  </div>
                  <div class="col-md-9">
                    <div class="row">
                      <div class="col-md-12">
                        <p><b>PICA</b></p>
                        <p align="justify">Excelentes resultados!</p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-3">
                      <img src="/images/testimonios/clientes/plassol-logo.png" alt="" style="width:120px;">
                  </div>
                  <div class="col-md-9">
                    <div class="row">
                      <div class="col-md-12">
                        <p><b>PLASSOL (Colombia)</b></p>
                        <p align="justify">Felicidades a usted y a su equipo de trabajo por alcanzar ISO 9001. Éste es solamente el principio, el desafío es mantenerlo.<br>¡En hora buena! manténganlo. ¡Felicitaciones!</p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-3">
                      <img src="/images/testimonios/clientes/venus.jpg" alt="" style="width:120px;">
                  </div>
                  <div class="col-md-9">
                    <div class="row">
                      <div class="col-md-12">
                        <p><b>PLASTICAUCHO INDUSTRIAL</b></p>
                        <p align="justify">Estamos satisfechos en saber que su prestigiosa compañía ha aprobado las normas ISO, Enhorabuena para usted y para nosotros, compartimos su optimismo y la calidad conseguida en el servicio al clientes, recibe nuestra sincera felicitaciones.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-3">
                      <img src="/images/testimonios/clientes/plasticos-ecuatorianos.png" alt="" style="width:120px;">
                  </div>
                  <div class="col-md-9">
                    <div class="row">
                      <div class="col-md-12">
                        <p><b>PLÁSTICOS ECUATORIANOS</b></p>
                        <p align="justify">Es grato manifestar que la compañía NUTEC REPRESENTACIONES S.A. mantiene relaciones comerciales por muchos años siendo una empresa integra y de prestigio que se encuentra en constante crecimiento y con su actitud positiva y profesional hemos manejado negociaciones de grandes éxitos, brindando siempre un excelente servicio y calidad en la RESINAS que suministran.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-3">
                      <img src="/images/testimonios/clientes/el-universo.png" alt="" style="width:120px;">
                  </div>
                  <div class="col-md-9">
                    <div class="row">
                      <div class="col-md-12">
                        <p><b>EL UNIVERSO</b></p>
                        <p align="justify">Estamos muy contentos con la calidad de Papeles Bio Bio y el servicio de Nutec.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3">
			<div style="margin-top: 40px;" class="list-group">
				<a href="/about" class="list-group-item">Acerca de</a>
        <a href="/about/mission" class="list-group-item">Mision y Vision</a>
        <a href="/about/codeEthics" class="list-group-item">Codigo de Etica</a>
        <a href="/about/iso" class="list-group-item">ISO 9001</a>
        <a href="/about/businessRelations" class="list-group-item">Relaciones Empresariales</a>
        <a href="/about/testimonials" class="active  list-group-item">Testimonios</a>
			</div>
		</div>
  </div>
</div>
