#imagen-carousel {
    max-width: 40%;
    max-height: 205px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative; ;
}

#carousel-imagenes{
  border-radius: 5px;
  margin-top: 0.5cm;
  height:235px;
  background-color: #e4e2e2;
  margin-bottom: 0.5cm;
}

#myCarousel{
  margin-top: 0.4cm;
  height:205px;
  border-radius: 0.4cm;
}

hr {
  border-color: #d9230f;
  background-color: red;
}

h2{
  color: #d9230f;
}

.cuadros{
  border-radius: 5px;
}

#parrafo{
  color: #d9230f;
  font-weight: bold;
​}

#imagenl {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.gallery
{
    display: inline-block;
    margin-top: 20px;
}
