body{
  background-color: #e4e2e2;
}

#logo-iso{
  width: 220;
  height: 70px;
  margin-top:35px;
}

#img-logo{
  width: 150px;
  height: 70px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 90px;
  /*position: absolute;margin: auto;top: 0;left: 0;right: 0;bottom: 0;*/
}

#menu-principal{
  margin-top: 30px;
}

#header{
  background-color: white;
  background-repeat: repeat-x;
}

#body{
  background-color:  #e4e2e2;
  /*background-image: url("/images/tapiz.jpg");*/
}

#footer{
  background-color: white;
}

.bg-lightgray
{
    background-color:LightGray;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */

     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/

 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
