#cuadrosLinks{
  background-color:white;
  height:150px;
  width:550px;
  border-radius: 5px;
}

#imagen-cuadros-link{
  height:110px;
  width:580px;
  border-radius: 5px;
}

#texto-imagen {
   position: absolute;
   top: 170px;
   left: 0;
   width: 100%;
}

#texto-imagen span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

#imagen-carousel {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative; ;
}

#logo-about{
  object-fit: fill;
  height:250px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#caja-logo{
  margin-top: 1cm;
  margin-bottom: 1cm;
  margin-left: 1cm;
  height: 270px;
  width: 270px;
  background-color: white;
  border-radius: 5px;
}

#cabecera{
  /*background-image: url("/images/tapiz.jpg");*/
  background-color: gray;
}

.thumbnail img{
    max-width: 100%; /* do not stretch the bootstrap column */
}

.img-wrapper{
	width: 100%;
	padding-bottom: 150%; /* your aspect ratio here! */
	position: relative;
}

.img-wrapper img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 100%; /* optional: if you want the smallest images to fill the .thumbnail */
}

#carousel-imagenes{
  border-radius: 5px;
  margin-top: 1cm;
  height:270px;
  margin-left: 3.4cm;
  background-color: white;
  margin-bottom: 1cm;
}

#myCarousel{
  margin-top: 0.4cm;
  height:240px;
  border-radius: 0.4cm;
}

.carousel-inner{
   height:240px;
}

.portrait {
    height: 80px;
    width: 30px;
}

.landscape {
    height: 30px;
    width: 80px;
}

.square {
    height: 75px;
    width: 75px;
}

hr {
  border-color: red;
  background-color: red;
}


.page-header{
  border-color: red;
}

.cuadros{
  border-radius: 5px;
  background-color: white;
  margin-left: 2cm;
}
